.inputWrapper {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  margin-bottom: 16px;
  gap: 4px;
}

.field {
  margin-bottom: 12px;
  padding: 8px 8px;
  border: 1px solid;
  border-radius: 4px;
  outline: transparent;
  transition: all 200ms ease-in;

  &:hover {
    border: 1px solid rgb(0, 55, 255);
  }
  &:focus-visible {
    background-color: #fff;
    border: 1px solid blue;
    outline: 1px solid rgba(0, 0, 255, 0.3);
  }
}
