.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  width: 45%;
  min-width: 300px;
  max-width: 320px;

}
